[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule ".emacs.d"]
	path = emacs.d
	url = https://github.com/jacobono/.emacs.d.git
